<div class="row">
    <div class="col-md-8">
        <h3>Posts List</h3>
        <div appTooltip="Click on this button to add a new post">
            <a appHighlight="#7f9cb9" href="" class="btn btn-light btn-sm" [routerLink]="['/posts/add']">Add post</a>
        </div>
        <table class="table table-striped" *ngIf="posts | async as postsData">
        <!-- <table> -->
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of postsData" >
                <!-- <tr *ngFor="let post of posts | async"> -->
                    <td>{{post.id}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.description}}</td>
                    <td>
                        <a href="" class="btn btn-dark btn-sm" [routerLink]="['edit', post.id]" appTooltip="Click on this button to edit this post.">Update</a>
                        &nbsp;
                        <button class="btn btn-danger btn-sm" (click)="onDeletePost(post.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>